# Build outputs
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Rider
.idea/

# Logs
*.log

# Backup & temp files
*.tmp
*.temp

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# Compiled binaries
*.dll
*.exe
*.pdb

# Publish output
publish/
